<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/field.css}">
</head>
<body class="bg-body-secondary">
<div th:fragment="recommendedMeal(name, icon, calories, protein, sugar, fat, id, description, mealNumber)">
    <div class="card mb-3" th:id="'meal-card-' + ${mealNumber}">
        <h6 class="ms-3 mt-3" th:text="${name}" th:id="meal-name- + ${mealNumber}" ></h6>

        <!-- Add Button / Chevron -->
        <div class="d-inline-flex position-absolute p-3 top-0 end-0 align-items-center gap-2 ">
            <svg th:attr="id=${'tick' + id}" style="z-index:100; width: 18px; height: 18px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
            </svg>

            <svg style="width: 18px; height: 18px;" xmlns="http://www.w3.org/2000/svg" th:attr="id=${'chevron' + id}" class="bi bi-chevron-down" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
        </div>

        <!-- Meal Information -->
        <div class="mt-3 d-inline-flex justify-content-evenly">
            <p style="font-size:40px" th:text="${icon}" th:id="meal-icon- + ${mealNumber}"></p>
            <div>
                <p class="mb-0" th:text="${calories}" th:id="meal-calories- + ${mealNumber}"></p>
                <p style="font-size: 14px; color: grey">Calories</p>
            </div>
            <div>
                <p class="mb-0" th:text="${protein}" th:id="meal-protein- + ${mealNumber}"></p>
                <p style="font-size: 14px; color: grey">Protein</p>
            </div>
            <div>
                <p class="mb-0" th:text="${sugar}" th:id="meal-sugar- + ${mealNumber}"></p>
                <p style="font-size: 14px; color: grey">Sugar</p>
            </div>
            <div>
                <p class="mb-0" th:text="${fat}" th:id="meal-fat- + ${mealNumber}"></p>
                <p style="font-size: 14px; color: grey">Fat</p>
            </div>
        </div>

        <!-- Click to Expand -->
        <a class="stretched-link" type="button" data-bs-toggle="collapse" th:attr="data-bs-target=${'#' + id}" aria-expanded="false" aria-controls="collapseExample"></a>
        <!-- Expanded Information -->
        <div class="collapse" th:attr="id=${id}">
            <div class="card card-body" th:text="${description}" th:id="meal-food-description- + ${mealNumber}">
            </div>
        </div>

    </div>
</div>
</body>
</html>