<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta context="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Register</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <th:block th:replace="~{fragments/bootstrapVersions.html :: head}"/>
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <script th:src="@{/JavaScript/main.js}"></script>
</head>
<body class="bg-body-secondary" onload="passwordStrengthIndicator()">
<header th:replace="${loggedIn} ? ~{fragments/header.html :: header} : ~{fragments/welcomeHeader.html :: header}"></header>

<div class="d-flex align-items-center" style="height:70%">
    <div class="container mt-5" onLoad="{passwordStrengthIndicator}" style="width:50%;">
        <div class="card">
            <div class="card-body px-4 py-4">
                <form class="changePasswordForm" enctype="multipart/form-data" method="post"
                      th:action="@{changePassword}" th:object="${changePasswordForm}">
                    <h4>Change Password</h4>
                    <div class="row g-3">
                        <div class="col-md-12">
                            <label for="oldPassword"> Old Password: </label>
                            <input class="form-control"
                                   data-cy="oldPassword" id="oldPassword" placeholder="Old Password"
                                   th:field="*{oldPassword}" th:name="oldPassword"
                                   th:style="${invalidOldPassword}? 'border-color: red' : ''"
                                   type="password">
                            <div class="errorText" id="oldPasswordError"
                                 style="color: red" th:if="${invalidOldPassword}"
                                 th:text="'Password is incorrect'"></div>

                        </div>
                        <div class="col-md-12">
                            <hr class="my-2 text-dark">
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label for="password"> New Password: </label>
                                <input class="form-control"
                                       data-cy="newPassword" id="password"
                                       oninput="passwordStrengthIndicator()"
                                       placeholder="Password"
                                       th:field="*{password}" th:name="password"
                                       th:style="${weakPassword} or ${passwordSameAsOldPassword}? 'border-color: red' : ''"
                                       type="password">
                                <div th:replace="~{fragments/passwordStrengthIndicator.html :: passwordStrengthIndicator}"></div>
                                <div class="errorText" id="weakPasswordError"
                                     style="color: red"
                                     th:if="${weakPassword}"
                                     th:text="'Password is too weak. Please follow the rules above'"></div>
                            </div>
                            <div class="col-md-12">
                                <label for="confirmPassword"> Retype Password: </label>
                                <input class="form-control"
                                       data-cy="confirmPassword" id="confirmPassword"
                                       placeholder="Password"
                                       th:field="*{confirmPassword}"
                                       th:name="confirmPassword"
                                       th:style="${passwordsDoNotMatch}? 'border-color: red' : ''"
                                       type="password">
                                <div class="errorText" id="passwordMatchError"
                                     style="color: red" th:if="${passwordsDoNotMatch}"
                                     th:text="'Passwords do not match'"></div>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <label for="checkbox">Show passwords?</label>
                                <input id="checkbox" onclick="passwordVis()" type="checkbox">
                            </div>
                            <br/>
                            <div class="d-flex align-items-center">
                                <a class="btn btn-secondary" th:href="@{/profilePage}">Back to
                                    profile</a>
                                <button class="btn btn-primary mx-2" id="submitBtn"
                                        onclick="checkPass()"
                                        type="submit">Submit!
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{fragments/bootstrapVersions.html :: body}"/>
</body>
</html>