<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <script th:src="@{/JavaScript/main.js}"></script>
    <meta context="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Lost Password</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <th:block th:replace="~{fragments/bootstrapVersions.html :: head}"/>
</head>
<body class="bg-body-secondary" onload="getUrl()">
<header th:replace="${loggedIn} ? ~{fragments/header.html :: header} : ~{fragments/welcomeHeader.html :: header}"></header>
<div class="container-fluid d-flex flex-column justify-content-center align-items-center"
     style="height: 70%">
    <div class="card w-50">
        <div class="card-body px-4 py-4">
            <form method="post" th:action="@{lostPassword}">
                <input hidden id="url" th:name="url" type="text">
                <h4>Lost Password</h4>
                <p class="text-secondary">Enter your email to reset your password</p>
                <label for="email"> Email: </label>
                <input autofocus class="form-control" data-cy="email" id="email"
                       oninput="setCustomValidity('')"
                       oninvalid="this.setCustomValidity('Email address in invalid')"
                       pattern="^[a-zA-Z0-9_+&*-]+(?:.[a-zA-Z0-9_+&*-]+)*@(?:[a-zA-Z0-9-]+[.])+[a-zA-Z]{2,7}$"
                       placeholder="Email"
                       required
                       th:name="email"
                       th:value="*{email}"
                       type="email">
                <p class="text-dark" id='confirmationMessage' th:name="confirmationMessage"
                   th:text="${confirmationMessage}"></p>
                <div class="d-flex align-items-center mt-4">
                    <a class="btn btn-secondary" th:href="@{demo}">Back to home</a>
                    <button class="btn btn-primary mx-2" type="submit">Send Email</button>
                </div>
            </form>
        </div>
    </div>

</div>
<th:block th:replace="~{fragments/bootstrapVersions.html :: body}"/>
</body>
</html>