<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta context="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Reset Password</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <th:block th:replace="~{fragments/bootstrapVersions.html :: head}"/>
    <script th:src="@{/JavaScript/main.js}"></script>
    <script th:src="@{/JavaScript/navbar.js}"></script>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body class="bg-body-secondary" onload="passwordStrengthIndicator()">
<header th:replace="${loggedIn} ? ~{fragments/header.html :: header} : ~{fragments/welcomeHeader.html :: header}"></header>
<div class="container-fluid d-flex flex-column justify-content-center align-items-center"
     style="height: 70%">
    <div class="card w-50">
        <div class="card-body px-4 py-4">
            <form method="post" th:action="@{resetPassword}" th:object="${resetPasswordForm}">
                <input id="email" readonly th:field="*{email}" type="hidden">
                <h1>Reset Password</h1>
                <p class="text-secondary"> Enter your new password</p>
                <input hidden th:field="*{token}">

                <div class="col-md-12">
                    <label for="password">Password:</label>
                    <input autofocus class="form-control" data-cy="password" id="password"
                           oninput="passwordStrengthIndicator()"
                           pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*=_+?><~`])[a-zA-Z-0-9!@#$%^&*=_+?><~`]{8,}"
                           placeholder="Password"
                           required
                           th:field="*{password}" type="password">
                    <div th:insert="~{fragments/passwordStrengthIndicator.html :: passwordStrengthIndicator}"></div>
                </div>
                <br>
                <div class="col-md-12">
                    <label for="confirmPassword"> Confirm Password: </label>
                    <input autofocus class="form-control" data-cy="confirmPassword"
                           id="confirmPassword"
                           placeholder="Confirm Password" required
                           th:field="*{confirmPassword}" th:name="confirmPassword" type="password">

                    <div id="matchPasswordsError" style="color:red"
                         th:if="true == ${matchPasswords}">[[${matchPasswordsMessage}]]
                    </div>
                </div>
                <br>
                <div class="d-inline-flex">
                    <span>Show passwords?</span>
                    <input class="mx-2" onclick="passwordVis()" type="checkbox">
                </div>
                <br>
                <div class="d-flex align-items-center">
                    <a class="btn btn-secondary" th:href="@{demo}">Back to home</a>
                    <button class="btn btn-primary mx-2" onclick="checkPass()" type="submit">Save
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>
<th:block th:replace="~{fragments/bootstrapVersions.html :: body}"/>
</body>
</html>